<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Digital Profile</title>
   
    <link rel="stylesheet" href="/style/editprofile.css">
  </head>
  <body>
     <nav id="navbar">
        <div class="container">
            <a href='/'>Home</a>
            <a href='/create'>Create Profile</a>
        </div>
        </nav>
      {{{body}}}
      <script src='/js/updateUser.js'></script>
      <script src="/js/deleteSkill.js"></script>
      <script src='/js/addSkill.js'></script>
      <script src='/js/getUser.js'></script>
      
  </body>
  </html>