<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Digital Profile</title>
   
    <link rel="stylesheet" href="/style/home.css">
  </head>
  <body>
      {{{body}}}
  </body>
  </html>