.main-body 
{
    display: grid;
    grid-template-columns: 50% 50%;
}
.skill-section h2
{
     margin-top:15vh;
}
.form-section
{
    margin-top:5vh;
    margin-left: 20vh;
    margin-right: 20vh;
}
.form-field
{
    margin-bottom: 2vh;
}
.form-field>input 
{
    width: 45vh;
    border-radius: 3.5px;
    height: 3.5vh;
}
.form-field>button
{
    margin-left: 15vh;
    margin-right: 15vh;
}