body
{
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
#navbar 
{
    text-align: center;
    background-color: brown;
    padding: 3vh 5vw 3vh 5vw;
}
#navbar a 
{
    text-decoration: none;
    color: black;
}
#navbar a:hover
{
    color: white;
}
#main-body 
{
    margin-top: 5vh;
    text-align: center;
}

#main-body input
{
    width: 20vw;
    height: 5vh;
    text-decoration: 5vh;
    margin-bottom: 1.5vh;
    border-radius: 1.5px;
    padding-left: 2vh;
}
#main-body button
{
    height: 5vh;
    border: 1.5px solid black;
}
#footer 
{
    text-align: center;
    margin-top: 28vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background: brown;
    color: white;
}