<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="utf-8">
        <title>Digital profile</title>

    </head>
    <body>
        <div class="form-section">
           <form action="/user/add" method="POST">
           <div>
               <input type="text" name="name" placeholder="Name"/>
           </div>
           <div>
               <input type="text" name="highschool" placeholder="Highschool"/>
           </div>
           <div>
               <input type="text" name="seniorsecondary" placeholder="Senior secondary"/>
           </div>
           <div>
               <input type="text" name="college" placeholder="College">
           </div>
           <div>
               <input type="text" name="branch" placeholder="Branch">
           </div>
           <div>
               <button type="submit">Create Profile</button>
           </div>
        </form>
        </div>
        <div class="skill-section">
           <h2>Add Skill on update profile page</h2>
        </div>
    </body>
</html>