<div id="main-body">
        <div class="form-section">
           <form action="/user/add" method="POST">
           <div class="form-field">
               <input type="text" name="name" placeholder="Name"/>
           </div>
           <div class="form-field">
               <input type="text" name="highschool" placeholder="Highschool"/>
           </div>
           <div class="form-field">
               <input type="text" name="seniorsecondary" placeholder="Senior secondary"/>
           </div>
           <div class="form-field">
               <input type="text" name="college" placeholder="College">
           </div>
           <div class="form-field">
               <input type="text" name="branch" placeholder="Branch">
           </div>
           <div class="form-field">
               <button type="submit">Create Profile</button>
           </div>
        </form>
        </div>
        <div class="skill-section">
           <h2>Add Skill on update profile page</h2>
        </div>
    </div>
    <footer id="footer">
        <p>&copy; 2020 Digital profile</p>
    </footer>