<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Digital profile</title>
        <link rel="stylesheet" href="../style/editprofile.css">
    </head>
    <body>
        <div class="main-body">
            <div class="form-section">
               <form action="/user/" method="PUT">
                <div class="form-field">
                    <input type="text" name="id" id='id' placeholder="id" readonly>
                </div>
                <div class="form-field">
                     <input type="text" name="name" id="name" placeholder="Name">
                </div>
                <div class="form-field">
                    <input type="text" name="highschool" id="highschool" placeholder="Highschool">
                </div>
                <div class="form-field">
                     <input type="text" name="seniorsecondary" id="seniorsecondary" placeholder="Senior sceondary">
                </div>
                <div class="form-field">
                     <input type="text" name="college" id="college" placeholder="College">
                </div>
                <div class="form-field">
                    <input type="text" name="branch" id="branch" placeholder="Branch">
                </div>
                <div class="form-field">
                    <button type="submit">Update</button>
                </div>
            </form>
            </div>
            <div class="skill-section">

            </div>
        </div>
        <script src='/js/getUser.js'></script>
    </body>
</html>