<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Digital profile</title>
        <link rel="stylesheet" href="/css/editprofile.css">
    </head>
    <body>
        <div class="mainbody">
            <div class="form-section">
               <form action="/user/" method="PUT">
                <div class="form-field">
                    <input type="text" name="id" placeholder="id">
                </div>
                <div class="form-field">
                     <input type="text" name="name" placeholder="Name">
                </div>
                <div class="form-field">
                    <input type="text" name="highschool" placeholder="Highschool">
                </div>
                <div class="form-field">
                     <input type="text" name="seniorsecondary" placeholder="Senior sceondary">
                </div>
                <div class="form-field">
                     <input type="text" name="college" placeholder="College">
                </div>
                <div class="form-field">
                    <input type="text" name="branch" placeholder="Branch">
                </div>
                <div class="form-field">
                    <button type="submit">Update</button>
                </div>
            </form>
            </div>
            <div class="skill-section">

            </div>
        </div>
    </body>
</html>